.big{
    height: 400px;
    background: linear-gradient(#ff6633, #ffffff);
}

.circle{
    height: 400px;
    background: radial-gradient(white, grey);
}
h1{
    text-align: center;
}

input[type="check"]:checked + label {
    text-decoration: line-through;

}
